@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  header h1 {
    font-size: 1.2rem;
  }
  .sidebar {
    width: 50%;
  }
  .items-wrapper {
    display: flex;
    flex-direction: column;
  }
  .item {
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 100px;
  }
}
