* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
ul {
  list-style: none;
}
.global-container {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(120deg, #1b262c, #bbe1fa);
  position: relative;
}
header {
  height: 7%;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding: 0 10px;
  color: lightgray;
}
button {
  cursor: pointer;
}
/*Cart*/
header .cart,
.side-cart button {
  width: 50px;
  font-size: 1.5rem;
  border: none;
  outline: none;
  background-color: inherit;
  color: white;
  transition: all 0.3s ease;
}
header button:hover,
.side-cart button:hover {
  color: #1b262c;
}
header button:active {
  transform: scale(0.95);
}
header button p {
  color: white;
  bottom: 0;
  right: 0;
  font-size: 10px;
  background-color: lightpink;
  border-radius: 50%;
  width: 10px;
  margin: 0;
  padding: 0;
  display: none;
}
.cart-icon-active {
  transform: scale(1.5);
}
header .cart-item-in {
  color: lightpink;
}
.side-cart {
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: #1b262c;
  right: 0;
  top: 0;
  transition: all 0.3s ease;
  transform: translate(1000px);
  display: hidden;
  z-index: 1000;
  box-shadow: 0 10px 15px 20px rgba(0, 0, 0, 0.2);
}
.cart-active {
  transition: all 0.3s ease;
  transform: translate(0);
  display: block;
}
/*******************************************/
.side-cart h1 {
  pointer-events: none;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
}
.side-cart h2 {
  text-align: center;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -90%);
}
/*sidebar items*/

.side-cart-items .item {
  width: 90%;
  height: 150px;
  display: flex;
}
.side-cart-items .item-head {
  height: 100%;
  width: 50%;
  background-color: gray;
}
.side-cart-items .item-body {
  height: 100%;
  width: 50%;
}
.side-cart-items .item-body button {
  font-size: 1rem;
  color: black;
}
/*Items*/
.items-container {
  width: 80%;
  height: 80%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 15rem);
}
.item {
  margin: 10px;
  width: 200px;
  height: 250px;
  background-color: white;
  box-shadow: -15px 20px 15px 15px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}
.item:hover {
  box-shadow: -5px 5px 15px 5px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}
.item-head {
  width: 100%;
  height: 50%;
  background-color: gray;
  cursor: pointer;
}
.item-body {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-body button {
  margin-top: 30px;
}
.item-body button,
.remove-from-cart {
  width: 90%;
  border: none;
  outline: none;
  box-shadow: -2px 5px 15px 5px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}
.item-body button:active,
.remove-from-cart:active {
  transform: scale(0.95);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}
/**************************/
.head1 {
  background: url(images/laptop.png);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s ease;
}
.head1:hover {
  background: url(images/laptopHover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.head2 {
  background: url(images/phone.png);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s ease;
}
.head2:hover {
  background: url(images/phoneHover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.head3 {
  background: url(images/car.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s ease;
}
.head3:hover {
  background: url(images/carHover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.head4 {
  background: url(images/wallet.png);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s ease;
}
.head4:hover {
  background: url(images/walletHover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
