* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
ul {
  list-style: none;
}
.global-container {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(120deg, #1b262c, #bbe1fa);
  position: relative;
}
header {
  height: 7%;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding: 0 10px;
  color: lightgray;
}
/*Cart*/
header .cart,
.side-cart button {
  width: 50px;
  font-size: 1.5rem;
  border: none;
  outline: none;
  background-color: inherit;
  color: white;
  transition: all 0.3s ease;
}
header button:hover,
.side-cart button:hover {
  color: #1b262c;
}
header button:active {
  transform: scale(0.95);
}
.cart-icon-active {
  transform: scale(1.5);
}
header .cart-item-in {
  color: lightpink;
}
.side-cart {
  position: absolute;
  width: 40%;
  height: 100%;
  background-color: green;
  right: 0;
  top: 0;
  transition: all 0.3s ease;
  transform: translate(1000px);
  z-index: 1000;
}
.cart-active {
  transform: translate(0);
}
.side-cart h1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
}
.side-cart h2 {
  text-align: center;
  position: absolute;
  top: 90%;
  left: 50%;
}
/*sidebar items*/
.side-cart-items .item {
  width: 80%;
  height: 200px;
  display: flex;
}
.side-cart-items .item-head {
  height: 100%;
  width: 50%;
}
.side-cart-items .item-body {
  height: 100%;
  width: 50%;
  background-color: red;
}
/*Items*/
.items-container {
  width: 80%;
  height: 80%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 15rem);
}
.item {
  margin: 10px;
  width: 200px;
  height: 250px;
  background-color: white;
}
.item-head {
  width: 100%;
  height: 50%;
  background-color: gray;
}
.item-body {
  text-align: center;
}
.item-body button {
  width: 90%;
  border: none;
  outline: none;
}
